{% extends "poll/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container px-4 my-4 mx-auto">
        <form method="post" novalidate>
            {% csrf_token %}
            <fieldset>
                <legend class="mb-6 text-3xl md:text-4xl lg:max-xl:text-3xl font-bold font-heading leading-none text-center md:text-left">
                    Add a Time Slot
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="flex flex-col sm:flex-row flex-wrap justify-center sm:justify-end items-center px-4">
                <a href="{% url 'poll-detail' pollid %}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200">Cancel</a>
                <button class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200" type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock content %}
