{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Tallymeet</title>
    {% endif %}

    {% block extra_links %} {% endblock extra_links %}

    <!-- <link rel="icon" type="image/x-icon" href="/images/schedule64.ico"> -->  <!-- for debugging with VSCode live server -->
    <link rel="icon" type="image/png" href="{% static 'tallymeet/images/schedule.png' %}" />  <!-- for Django -->
    
    <!-- for production: use tailwind output css rather than tailwind cdn -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'tallymeet/css/output.css' %}" />   -->
    <link rel="stylesheet" type="text/css" href="{% static 'tallymeet/css/extra.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- alpine js for x-open in hamburger menu -->
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <style>
      [x-cloak] {
        display: none !important;
      }

      html {
        scroll-behavior: smooth;
      }
    </style>

  </head>

  <body class="min-h-screen flex flex-col box-border">  <!-- flexbox to keep footer at bottom -->
    <header id="header" class="bg-[#F8FAFC]" x-data="{ open: false }">
      <div class="container mx-auto overflow-hidden">
        <div class="flex items-center justify-between px-4 py-5 bg-[#F8FAFC]">
          <div class="w-auto mr-8">
            <div class="flex flex-wrap items-center">
              <div class="w-auto">
                <a
                  class="max-w-max inline-flex items-center font-bold text-2xl text-gray-900 uppercase tracking-wider"
                  href="{% url 'poll-home' %}"
                >
                  <img
                    class="w-8 h-8"
                    src="{% static 'tallymeet/images/schedule.svg' %}"
                    alt=""
                  /><span class="ml-2">Tallymeet</span>
                </a>
              </div>
            </div>
          </div>

          <div class="w-auto">
            <div class="flex items-center">

              <!-- navbar ul links for wide screens -->
              {% block navbar_homepage_ul_links %} {% endblock navbar_homepage_ul_links %}
              
              
              <!-- navbar (profile, log out), (register, log in) links for wide screens -->
              <div class="w-auto hidden lg:block mr-3">
                <div class="inline-block">
                  {% if user.is_authenticated %}
                  <a 
                    href="{% url 'user-profile' %}"
                    class="py-3 px-5 text-center w-full text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200"
                    >
                      Profile
                  </a>
                  {% else %}
                  <a 
                    href="{% url 'user-register' %}"
                    class="py-3 px-5 text-center w-full text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200"
                    >
                      Register
                  </a>
                  {% endif %}
                </div>
              </div>
              <div class="w-auto hidden lg:block">
                <div class="inline-block">
                  {% if user.is_authenticated %}
                    <a
                      href="{% url 'user-logout' %}"
                      class="py-3 px-5 text-center w-full text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200"
                    >
                      Log Out
                    </a>
                  {% else %}
                    <a
                      href="{% url 'user-login' %}"
                      class="py-3 px-5 text-center w-full text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200"
                    >
                      Log In
                    </a>
                  {% endif %}
                </div>
              </div>
              
              <!-- nav bar hamburger menu -->
              <div class="w-auto lg:hidden">
                <button type="button" @click="open = true">
                  <svg
                    class="text-emerald-600"
                    width="51"
                    height="51"
                    viewbox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="56"
                      height="56"
                      rx="28"
                      fill="currentColor"
                    ></rect>
                    <path
                      d="M37 32H19M37 24H19"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </button>
              </div>
            
            </div>
          </div>
        </div>
        
        <div
          class="fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50"
          x-show="open"
          x-cloak
          x-transition
        >
          <div class="fixed inset-0 bg-gray-800 opacity-80"></div>
          
          <nav
            class="relative z-10 px-6 pt-8 bg-white h-full overflow-y-auto"
            @click.outside="open = false"
          >
            <div class="flex flex-wrap justify-between h-full">
              <div class="w-full">
                <div class="flex items-center justify-between -m-2">
                  <div class="w-auto py-2">
                    <a
                      class="max-w-max inline-flex items-center font-bold text-2xl text-gray-900 uppercase tracking-wider"
                      href="{% url 'poll-home' %}"
                    >
                      <img
                        class="h-8"
                        src="{% static 'tallymeet/images/schedule.svg' %}"
                        alt=""
                      /><span class="ml-2">Tm</span>
                    </a>
                  </div>
                  <div class="w-auto p-2">
                    <button type="button" @click="open = false">
                      <svg
                        width="24"
                        height="24"
                        viewbox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 18L18 6M6 6L18 18"
                          stroke="#111827"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="flex flex-col justify-center py-16 w-full">
                
                <!-- mobile ul links for narrow screens -->
                {% block mobile_ul_list %} {% endblock mobile_ul_list %}

              </div>
              <div class="flex flex-col justify-end w-full border-box mb-2">
                
                <!-- mobile (profile, log out), (register, log in ) links for narrow screens -->
                  
                {% if user.is_authenticated %}
                  <a
                    href="{% url 'user-profile' %}"
                    class="py-3 px-5 mb-2 text-center w-full text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200"
                  >
                    Profile
                  </a>
                    <a
                      href="{% url 'user-logout' %}"
                      class="py-3 px-5 w-full text-center text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200"
                    >
                      Log Out
                  </a>
                {% else %}
                  <a
                    href="{% url 'user-register' %}"
                    class="py-3 px-5 mb-2 text-center w-full text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200"
                  >
                    Register
                  </a>
                  <a
                    href="{% url 'user-login' %}"
                    class="py-3 px-5 w-full text-center text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200"
                  >
                    Log In
                  </a>
                {% endif %}
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>


    <!-- flash messages -->
      {% if messages %}
        <div class="container px-4 mx-auto">
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
        </div>
      {% endif %}

    <section class="flex-1">  <!-- flex-1 to keep footer at bottom -->
      <!-- main content -->
      {% block content %} {% endblock content %}
    </section>

    <footer class="relative py-10 bg-white overflow-hidden">
      <img
        class="absolute top-0 left-0 h-full"
        src="{% static 'tallymeet/images/footer-gradient.svg' %}"
        alt=""
      />
      <div class="relative z-10 container px-4 mx-auto">
        <div class="flex flex-col md:flex-row justify-between items-center -m-8">
          <div class="w-auto p-0 md:p-8">
            <a
              class="max-w-max inline-flex items-center font-bold text-2xl text-gray-900 uppercase tracking-wider"
              href="{% url 'poll-home' %}"
            >
              <img
                class="h-8"
                src="{% static 'tallymeet/images/schedule.svg' %}"
                alt=""
              /><span class="ml-2">Tallymeet</span>
            </a>
          </div>
          <div class="w-auto p-0 md:p-8">
            <div class="flex -m-1.5">
              <div class="w-auto p-1.5">
                <a href="https://github.com/nghugo/tallymeet">
                  <div
                    class="flex items-center justify-center w-8 h-8 border border-gray-300 hover:border-gray-400 rounded-full"
                  >
                    <svg
                      width="24"
                      height="24"
                      xmlns="http://www.w3.org/2000/svg"
                      data-name="Layer 1"
                      viewBox="0 0 24 24"
                      id="github"
                    >
                      <path
                        fill="#27272A"
                        d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z"
                      ></path>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="w-auto p-1.5">
                <a href="https://www.linkedin.com/in/hugo-ryan-ng-312730197/">
                  <div
                    class="flex items-center justify-center w-8 h-8 border border-gray-300 hover:border-gray-400 rounded-full"
                  >
                    <svg
                      width="24"
                      height="24"
                      xmlns="http://www.w3.org/2000/svg"
                      data-name="Layer 1"
                      viewBox="0 0 24 24"
                      id="linkedin"
                    >
                      <path
                        fill="#27272A"
                        d="M20.47,2H3.53A1.45,1.45,0,0,0,2.06,3.43V20.57A1.45,1.45,0,0,0,3.53,22H20.47a1.45,1.45,0,0,0,1.47-1.43V3.43A1.45,1.45,0,0,0,20.47,2ZM8.09,18.74h-3v-9h3ZM6.59,8.48h0a1.56,1.56,0,1,1,0-3.12,1.57,1.57,0,1,1,0,3.12ZM18.91,18.74h-3V13.91c0-1.21-.43-2-1.52-2A1.65,1.65,0,0,0,12.85,13a2,2,0,0,0-.1.73v5h-3s0-8.18,0-9h3V11A3,3,0,0,1,15.46,9.5c2,0,3.45,1.29,3.45,4.06Z"
                      ></path>
                    </svg>
                  </div>
                </a>
              </div>
              <div class="w-auto p-1.5">
                <a href="mailto:hugornprojects@gmail.com">
                  <div
                    class="flex items-center justify-center w-8 h-8 border border-gray-300 hover:border-gray-400 rounded-full"
                  >
                    <svg
                      width="24"
                      height="24"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      id="envelope-alt"
                    >
                      <path
                        fill="#27272A"
                        d="M19,4H5A3,3,0,0,0,2,7V17a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4ZM5,6H19a1,1,0,0,1,1,1l-8,4.88L4,7A1,1,0,0,1,5,6ZM20,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V9.28l7.48,4.57a1,1,0,0,0,1,0L20,9.28Z"
                      ></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
