{% extends "poll/base.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
<h1>{{ section.title }}</h1>

<article>
  <p class="text-justify text-base">
    Having trouble identifying when to schedule your next group meeting?
    TallyMeet comes to the rescue! Create and share a simple poll to see when everyone is available!
    And best of all- it's a free service with no ads and no registration needed. Tally up now!
  </p>
</article>

<a href="#" class="text-base font-medium px-1 w-28 h-6 rounded-md outline-1outline text-white flex justify-center items-center bg-purple-600 transition-all duration-150 ease-out hover:scale-110 m-auto sm:m-0">
  <span>Quick Start</span>
  <span class="inline-block material-symbols-rounded">arrow_right_alt</span>
</a>


{% endblock content %}

