{% extends "poll/base.html" %}

{% load static %}

{% load tailwind_filters %}

{% block content %}
    <div class="container px-4 my-4 mx-auto">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend class="mb-6 text-3xl md:text-4xl lg:max-xl:text-3xl font-bold font-heading leading-none text-center md:text-left">
                    Password Requred to Access Poll
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="flex flex-wrap justify-end">
                <button class="block py-4 px-6 w-full sm:max-w-min sm:ml-auto text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200"
                        type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}


