{% extends "poll/base.html" %}

{% load static %}

{% block content %}
    <div class="container px-4 my-4 mx-auto">

        <h1 class="mb-6 text-3xl md:text-4xl lg:max-xl:text-3xl font-bold font-heading leading-none text-center md:text-left">Poll Details</h1>

        <div class="mb-6">
            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Title
                </p>
                <p>
                    {{object.title}}
                </p>
            </div>

            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Description
                </p>
                <p>
                    {{object.description}}
                </p>
            </div>
            
            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Event Location
                </p>
                <p>
                    {{object.event_location}}
                </p>
            </div>

            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Date Created
                </p>
                <p>
                    {{object.date_created}}
                </p>
            </div>

            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Poll Owner
                </p>
                <p>
                    {{object.owner_id}}
                </p>
            </div>

        </div>
        
        <div class="container mt-10 mx-auto">

            <!-- Legend of poll responses (prefer, yes, no) -->
            {% if rankedResponses|length > 0 %}
            <h1 class="mb-6 text-3xl md:text-4xl lg:max-xl:text-3xl font-bold font-heading leading-none text-center md:text-left">Poll Options</h1>
            <p class="mb-2"> The poll options below are ranked by the number of "Yes" responses + "Prefer" responses, followed by the number of "Prefer" responses.
            <div class="grid  items-center max-w-min mx-auto sm:mx-0 grid-cols-[1.5rem,1fr,1.5rem,1fr,1.5rem,1fr] mb-5">
                <div class="bg-teal-600 w-4 h-4 mr-1"></div>
                <p class="mr-4">Prefer</p>
                <div class="bg-teal-500 w-4 h-4 mr-1"></div>
                <p class="mr-4">Yes</p>
                <div class="bg-slate-400 w-4 h-4 mr-1"></div>
                <p>No</p>
            </div>
            {% endif %}
            
            <!-- Results of poll responses (prefer, yes, no) -->
            {% for r in rankedResponses %}
            <div class="outline outline-2 outline-slate-400 p-2 rounded-lg mb-5">
                
                <!-- Table of option info -->
                <p class="block text-gray-500 text-md font-bold mb-2"> Rank: {{ r.2 }} </p>  <!-- django index i is .i rather than [i] -->
                
                <div class="py-2 flex flex-col sm:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <p class=" pb-1 min-w-[250px] font-medium text-gray-900 whitespace-nowrap dark:text-white"> Event start time </p>
                    <p> {{ r.0.event_start_time }} </p>
                </div>
                
                <div class="py-2 flex flex-col sm:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <p class=" pb-1 min-w-[250px] font-medium text-gray-900 whitespace-nowrap dark:text-white"> Event end time </p>
                    <p> {{ r.0.event_end_time }} </p>
                </div>

                <div class="py-2 flex flex-col sm:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <p class=" pb-1 min-w-[250px] font-medium text-gray-900 whitespace-nowrap dark:text-white"> "Prefer" responders ({{ r.1|get_item:pKey|length }}) </p>
                    <p>
                        {% if r.1|get_item:pKey|length > 0 %}
                            {% for name in r.1|get_item:pKey %}
                                {% if forloop.counter < r.1|get_item:pKey|length %}
                                    <span class="capitalize"> {{name}},&nbsp </span>
                                {% else %}
                                    <span class="capitalize"> {{name}} </span>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                </div>

                <div class="py-2 flex flex-col sm:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <p class=" pb-1 min-w-[250px] font-medium text-gray-900 whitespace-nowrap dark:text-white"> "Yes" responders ({{ r.1|get_item:yKey|length }}) </p>
                    <p>
                        {% if r.1|get_item:yKey|length > 0 %}
                            {% for name in r.1|get_item:yKey %}
                                {% if forloop.counter < r.1|get_item:yKey|length %}
                                    <span class="capitalize"> {{name}},&nbsp </span>
                                {% else %}
                                    <span class="capitalize"> {{name}} </span>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                </div>
                
                <div class="py-2 flex flex-col sm:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <p class=" pb-1 min-w-[250px] font-medium text-gray-900 whitespace-nowrap dark:text-white"> "No" responders ({{ r.1|get_item:nKey|length }}) </p>
                    <p>
                        {% if r.1|get_item:nKey|length > 0 %}
                            {% for name in r.1|get_item:nKey %}
                                {% if forloop.counter < r.1|get_item:nKey|length %}
                                    <span class="capitalize"> {{name}},&nbsp </span>
                                {% else %}
                                    <span class="capitalize"> {{name}} </span>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                </div>
                
                <!-- Stacked bar chart -->
                <div class="overflow-hidden border-2 border-white grid grid-cols-[{{ r.1|get_item:pKey|length }}fr,{{ r.1|get_item:yKey|length }}fr,{{ r.1|get_item:nKey|length }}fr] rounded-lg mt-2">
                    <div class="bg-teal-600 text-white font-bold text-md align-center flex justify-center outline outline-white">
                        {% if r.1|get_item:pKey|length > 0 %}
                            <p> {{ r.1|get_item:pKey|length }} </p>
                        {% endif %}
                    </div>
                    <div class="bg-teal-500 text-white font-bold text-md align-center flex justify-center outline outline-white">
                        {% if r.1|get_item:yKey|length > 0 %}
                            <p> {{ r.1|get_item:yKey|length }} </p>
                        {% endif %}
                    </div>
                    <div class="bg-slate-400 text-white font-bold text-md align-center flex justify-center outline outline-white">
                        {% if r.1|get_item:nKey|length > 0 %}
                            <p> {{ r.1|get_item:nKey|length }} </p>
                        {% endif %}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        
            
        <div class="flex flex-wrap justify-end">
            <a href="{% url 'poll-vote' object.id %}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-white font-semibold border border-sky-700 rounded-xl focus:ring focus:ring-sky-300 bg-sky-600 hover:bg-sky-700 transition ease-in-out duration-200">Cast Vote</a>
            <a href="{% url 'poll-option-create' %}?poll_id={{ object.id }}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200">Add an Option</a>
            <a href="{% url 'poll-option-edit' %}?poll_id={{ object.id }}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200">Edit Options</a>
            <a href="{% url 'poll-option-delete-list' %}?poll_id={{ object.id }}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200">Delete Options</a>
            <a href="{% url 'poll-update' object.id %}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200">Update Info</a>
            <a href="{% url 'poll-update-password' object.id %}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200">Update Password</a>
            <a href="{% url 'poll-delete' object.id %}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-white font-semibold border border-red-700 rounded-xl focus:ring focus:ring-red-300 bg-red-600 hover:bg-red-700 transition ease-in-out duration-200">Delete</a>
        </div>
    </div>

{% endblock content %}