{% extends "poll/base.html" %}

{% load static %}

{% block content %}
    <div class="container px-4 my-4 mx-auto">

        <h1 class="mb-6 text-3xl md:text-4xl lg:max-xl:text-3xl font-bold font-heading leading-none text-center md:text-left">Poll Details</h1>

        <div class="mb-6">
            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Title
                </p>
                <p>
                    {{object.title}}
                </p>
            </div>

            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Description
                </p>
                <p>
                    {{object.description}}
                </p>
            </div>
            
            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Event Location
                </p>
                <p>
                    {{object.event_location}}
                </p>
            </div>

            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Date Created
                </p>
                <p>
                    {{object.date_created}}
                </p>
            </div>

            <div class="py-4 flex flex-col md:flex-row bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <p class=" pb-1 min-w-[20%] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Poll Owner
                </p>
                <p>
                    {{object.owner_id}}
                </p>
            </div>

        </div>
            
        <div class="flex flex-wrap justify-end">
            
            <!-- <a href="#" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200">View Votes</a> -->
            <a href="{% url 'poll-option-create' %}?poll_id={{ object.id }}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200">Add an Option</a>
            <a href="{% url 'poll-option-edit' %}?poll_id={{ object.id }}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200">Edit Options</a>
            <a href="{% url 'poll-option-delete-list' %}?poll_id={{ object.id }}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-black font-semibold border border-gray-300 rounded-xl focus:ring focus:ring-emerald-300 bg-white hover:bg-gray-100 transition ease-in-out duration-200">Delete Options</a>
            <a href="{% url 'poll-update' object.id %}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200">Update Info</a>
            <a href="{% url 'poll-update-password' object.id %}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-white font-semibold border border-emerald-700 rounded-xl focus:ring focus:ring-emerald-300 bg-emerald-600 hover:bg-emerald-700 transition ease-in-out duration-200">Update Password</a>
            <a href="{% url 'poll-delete' object.id %}" class="block min-w-full sm:min-w-min py-4 px-6 sm:ml-4 my-1 text-center text-white font-semibold border border-red-700 rounded-xl focus:ring focus:ring-red-300 bg-red-600 hover:bg-red-700 transition ease-in-out duration-200">Delete</a>
        </div>
    </div>

{% endblock content %}